.container {
    max-width: 1000px;
    margin: auto;
    background: #F5F5F5;
    padding: 20px;
    color: #CD5C5C;
}

.animation-boy {
    margin-top: 10px;
}
a{
    color: #333;
}
.bt {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-bottom: 30px;
    transition: all 0.3s;
    transform-origin: 0% 50%;
    width: 80%;
}

.animation-area {
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

.animation-area:hover.animation-area::after {
    opacity: 1;
    transform: scaleY(1);
}

.animation-area::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: scaleY(0);
    background: red;
    opacity: 0;
    transition: all 0.3s;
    transform-origin: 0% 100%;
}

.bg-gradient::after {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.2) 50%, transparent 100%);
}

.bt:hover {
    /* transform: translate(4px, 5px) scale(1.1); */
    width: 100%;
}
.animation{
    margin-top: 20px;
    display: inline-block;
}
.animation-boy {
    display: inline-block;
    position: relative;
}

.animation-boy::after,
.animation-boy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
}

.animation-boy::after {
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    transform-origin: 50% 0%;
    transform: scaleX(0);
}

.animation-boy::before {
    border-left: 5px solid red;
    border-right: 5px solid red;
    transform-origin: 0% 50%;
    transform: scaleY(0);
}

.animation-boy:hover.animation-boy::after {
    transform: scaleX(1);
}

.animation-boy:hover.animation-boy::before {
    transform: scaleY(1);
}


/* Cau 2 */
.ani2{
    width: 500px;
    border: 1px solid #555;
    padding: 20px;
    position: relative;
}
.ani2::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    height: 20px;
    width:20px;
    /* border-left: 1px solid #555;
    border-top: 1px solid #555; */
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    background: #F5F5F5;
}

.ani3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ani3 .toggle{
    padding: 10px 20px;
    border: 1px solid #555;
    margin-bottom: 20px;
}