/* responsive img */
img{
    max-width: 100%;
}




@media (max-width:768px){

    .togglenav{
        display: block;
    }

    .navbar{
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background: #555;
        color: white;
        width: 30%;
        padding-top: 20px;
    }
    .navbar ul{
        text-align: center;
         flex-direction: column;
         align-items: stretch;
    }
    .navbar ul li a:hover{
        background: #333;;
    }
    .navbar{
        /* display: flex; */
        flex-direction: column;

    }
    .navbar .togglenav{
        align-self: flex-end;
        margin-bottom: 30px;
    }
    .active{
        display: block;
       animation: fadein 0.3s forwards;
    }
 }

 @keyframes fadein {
     from{
         transform: translateX(300px);
     }
     to{
        transform: translateX(0px);
    }
 }